@use '@styles/var.scss' as var;
.container {
  padding-top: 100px;
  margin: auto;
}

.carousel {
  .carousel-control-prev {
    width:30px;
  }
  .carousel-control-next {
    width: 30px;
  }
}

@media only screen and (max-width: 767px) {
}